<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OAuth2 Cognito Demo</title>

	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>
<body>
	<section class="section">
		<div class="container has-text-centered">
			<div>
				<h1 class="title">OAuth2 Spring Security Cognito Demo</h1>

				<div sec:authorize="isAuthenticated()">
					<div class="box">
						Hello, <strong th:text="${#authentication.name}"></strong>!
					</div>

					<div class="box">
						<a class="button login is-primary"
						   th:href="@{~/logout}">Log out </a>
					</div>
				</div>

				<div sec:authorize="isAnonymous()">
					<div class="box">
						<a class="button login is-primary"
							th:href="@{/oauth2/authorization/cognito}">Log in with Amazon
							Cognito</a>

						<a class="button login is-primary" href="https://2020-bs.auth.eu-central-1.amazoncognito.com/
						login?response_type=code&client_id=260ds4rif6lr5o2niusfor5t7o&redirect_uri=http://localhost:8080/login/oauth2/code/cognito">
							Log in with google
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


</body>
</html>
